html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}
.sky,.grass,.road{
    position: relative;
}
.sky{
    height: 40%;
    background: skyblue;
}
.grass{
    height: 30%;
    background: seagreen;
}
.road{
    height: 30%;
    background: dimgray;
    box-sizing: border-box;
    border-top: 10px solid gray;
    border-bottom: 10px solid gray;
    width: 100%;
}
.lines{
    box-sizing: border-box;
    border: 4px dashed #fff;
    height: 0%;
    width: 100%;
    position: absolute;
    top: 45%;
}


.mario1{
    width: 90px;
    position: absolute;
    top: -40px;
    left: 0;
    animation-name: running;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*//KEYFRAMES//*/
@keyframes running{
    from{transform: translateX(-200px)}
    to{transform: translateX(1400px)}
}
@keyframes running2{
    from{transform: translateX(200px) scaleX(-1)}
    to{transform: translateX(-1400px) scaleX(-1)}
}

.mario2{
    width: 90px;
    position: absolute;
    top: 40px;
    right: 0;
    animation-name: running2;
    animation-duration: 5s;
/*    animation-fill-mode: both;*/
    animation-iteration-count: infinite;