.wrapper{
    background: #fff;
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
}
.red{
    background: red;
    float: right;
}
.green{
    background: green;
    float: right;
    margin-left: 110px;
}
.blue{
    background: blue;
    float: right;
}
.box{
    width: 29.33%;
    height: 100px;
    margin: 1%;
    padding: 1%;
}
.box1:after{
    content: "";
    display: block;
    clear: both;
    
}
.context{
    padding: 10px;
    clear: left;
    margin: 20px 1%;
    
}
section, aside{
    float: left;
    width: 46%;
    padding: 1%;
    margin: 1%;
    background: #f2f2f2;
}
.coloum:after{
    content: "";
    display: block;
    
}
